{% extends 'base.html' %}
{% block header %}
    <h1 class="mb-5 mt-3" align="center">
        {%block title %}
            Htwg Theater Reservierung
        {% endblock%}
    </h1>
{% endblock %}
{% block content %}
<div class="form-div">
<form action="" class="form" method = "POST">
    <div class="d-flex flex-column justify-content-center">
        <div class="input-group mb-3" style="flex-wrap: nowrap">
            <span class="input-group-text" id="basic-addon2">{{form.email.label}}</span>
            {{form.email(class="form-control", placeholder="ma591mu@htwg-konstanz.de")}}
        </div>
        <div class="d-flex ">
            <div class="input-group" style="flex-wrap: nowrap">
                 <span class="input-group-text">Vorstellung</span>
            {{form.vorstellung()}}
            </div>

            <div class="input-group" style="flex-wrap: nowrap">
                 <span class="input-group-text">Anzahl Personen</span>
                {{form.anzahl()}}
            </div>

        </div>
        <div class="input-group justify-content-center mt-3">
                <span class="input-group-text">Ermäßigt</span>
                <div class="input-group-text">
                    {{form.ist_ermaessigt(class="form-check-input mt-0")}}
                </div>
            </div>
        <button type="submit" class="btn btn-primary btn-submit">Reservieren!</button>
        </div>
</form>
</div>
{% endblock %}